
About/desktop.ini
Defs/desktop.ini
Defs/RecipeDefs/desktop.ini
Defs/ResearchProjectDefs/desktop.ini
Defs/ThingDefs_Ships/desktop.ini
Textures/desktop.ini
Textures/Things/desktop.ini
Textures/Things/Ships/AD_Ships/desktop.ini
Textures/Things/Ships/desktop.ini
Textures/Things/Ships/OhU_Original/desktop.ini
Textures/Things/Ships/ShipWeapons/desktop.ini
